doctype 5
html(lang="en")
  head
    title GHOSTJOKES
    link(href='http://fonts.googleapis.com/css?family=IM+Fell+English', rel='stylesheet', type='text/css')
    style.
      body { 
        background:#222; color:#eee; text-align:center; padding:3em;
        font-family: "IM Fell English", "Comic Sans", "Comic Sans MS", sans-serif;
        -webkit-font-smoothing: antialiased;
        }
      .punchline { opacity:0.0; transition: opacity 300ms linear; }
      .showing { opacity:1.0; }
      a { color:#aaa; }
  body
    h2 GHOSTJOKES!!!!
    if joke
      h1= joke
      div.punchline
        h1= punchline
        p
          a(href=next) another?
    script.
      window.setTimeout(function(){
        document.querySelector(".punchline").classList.add('showing')
      }, 2000)