{{!-- {{!< layouts/default}} --}}

<div class="ghost-container">

    <p>
        Ghost Jokes is brought to you by 2 ghost joke loving guys based in 
        New York City.
    </p>
    <p>
        Get in contact with us via <a href="http://twitter.com/djfarrelly">twitter</a>
    </p>

</div>

