<div class="add-a-joke">

    <h1>Add a joke</h1>

    <form method="post">

        <p>What's your setup?</p>
        <textarea name="setup" placeholder="ex. What's the ghost's favorite reality show?"></textarea>

        <p>What's your setup?</p>
        <textarea name="setup" placeholder="ex. Here comes Honey BOOOO BOOOO"></textarea>

        <div class="submit-button-container">
            <button type="submit" name="btn" class="submit-button">Do it</button>
        </div>

    </form>

</div>
